body {
    font-size: 25px;
    background-color: #008cff;
}

header {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h6 {
    word-spacing: 20px;
    color: chocolate;
    line-height: 4.0;
}

article {
    background-color: white;
    font-size: 20px;
    line-height: 20px;
}

h2 {
    color: #008cff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

footer {
    color: chocolate;
    font-size: 20px;
}